:root {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // min-height: 100vh;
    // background: #1b1b1f;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 1rem;
}
